@using Diplom.Domain.Contexts.Notifications.Notifications.Models

@model EmailNotification

@{
}

<h3>Hello, @Model.Reciever.UserName!</h3>

<p>New notification for you:<br />
<a href="@Model.QuizCreatorPath" target="_blank" style="font-family: Helvetica; color: rgb(63,81,181);">
    @Model.ProducerName
</a>
publish
<a href="@Model.QuizPath" style="font-family: Helvetica; color: rgb(63,81,181);">@Model.QuizTitle</a></p>

<p style="color: rgb(140,140,140);">Date publish: @Model.DateCreated</p>

--<br />
Diplom